* {
  /*правильное отображение элементов с учетом всех марджинов и падингов. в начале очистим, чтобы задать потом*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*@-правило font-face используют для подключения шрифтов, лежащих в папке проекта*/
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Revalia";
  src: url(../fonts/Revalia-Regular.ttf) format("truetype");
}

body {
  font-family: Roboto;
  color: #000000;
}

.container {
  width: 100%;
  /*если нет сетки, то в фигме можно посмотреть выделяя от лого до конца элемента навигационного меню*/
  margin: 0 auto;
}

.header {
  background: #EEEFF1;
  padding-top: 57px;
  height: 700px;
  padding-left: 18%;
}
/*Задаем параметры для список*/
ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

btn {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border-radius: 100px;
  padding: 10px 0;
  display: block;
}

.nav {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
}

.logo {
  font-family: Revalia;
  font-size: 48px;
  font-weight: normal;
  color: #34547A;
  margin-right: 398px;
}
/*Задаем меню для работы со всеми браузерами*/
.menu {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
}

.menu-item {
  margin-right: 42px;
}

.menu-item a:hover {
  color: #34547A;
}

.menu-item a {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}
/*Задаем меню для работы со всеми браузерами*/
.offer {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
}

.offer-pic {
  margin-right: 143px;
  margin-top: 161px;
}

.offer-content {
  margin-top: 135px;
}

.offer-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
}

.offer-txt {
  width: 540px;
  font-weight: normal;
  font-size: 16px;
  color: #727272;
  margin-bottom: 85px;
  display: block;
}

.btn-offer {
  width: 255px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
  background: #34547A;
  padding: 25px 41px 25px;
  font-weight: normal;
}

.btn-offer:hover {
  text-decoration: underline;
}

/* -----------------section:about-----------------------*/
.about-content {
  margin-top: 119px;
  margin-bottom: 100px;
}

.title-min {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}

.about-text {
  font-size: 16px;
  text-align: center;
  color: #727272;
  margin-top: 50px;
}

/* -----------------section:skills_promo-----------------------*/
.skills-promo {
  background: #34547A;
  height: 250px;
  width: 100%;
}

.skill-promo-pic {
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.img-skill {
  margin-top: 100px;
}

/* -----------------section:skills-----------------------*/
.skills {
  height: 653px;
}

.skills-all {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  justify-content: center;
}

.skills-content {
  margin-top: 204px;
  margin-right: 150px;
}

.skills-pic {
  margin-top: 102px;
}

.skills-title {
  margin-bottom: 50px;
}

.skill-name {
  font-weight: normal;
  font-size: 16px;
  color: #727272;
  margin-bottom: 19px;
}

.line-skill {
  margin-bottom: 29px;
}

#work-title{
  margin-top: 6%;
}

.video-section{
  background: #EEEFF1;
}
/*Задаем фиксированную кнопку*/
.fixed-button{
    position: fixed;
    left: 95%;
    top: 90%;

    width: 50px;
    height: 50px;
    border: solid black 1px;
    border-radius: 50px;
    color: black;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .video{
    margin-top: 57px;
    margin-bottom: 4%;
  }
  /*Работа с гридами*/
  .photo-grid img{
    width: 100%;
    height: 100%;
  }

  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .grid-element1{
    grid-column: 1;
    grid-row: 1;
  } 

  .grid-element2{
     grid-column: 2;
    grid-row: 1;
  }

  .grid-element3{
    grid-column: 3;
    grid-row: 1;      
  }

  .grid-element4{
    grid-column: 4;
    grid-row: 1;
  }

  .grid-element5{
    grid-column: 1;
    grid-row: 2;
  }

  .grid-element6{
    grid-column: 2;
    grid-row: 2;
  }

  .grid-element7{
    grid-column: 3;
    grid-row: 2;
  }

  .grid-element8{
    grid-column: 4;
    grid-row: 2;
  } 

  /*Работа с флексами*/

  .images{
    height: 950px;
  }

  .flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .video-box{
    display: flex;
    justify-content: center;
  }

  .flex-container50{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /*Работа с формой*/
  .form-section{
    padding-top: 5%;
    background: #EEEFF1;
  }

  .microsoft-section{
    height: 292px;
    width: 100%;
  }

  .mine-img{
    width: 255px;
    height: 120px;
  }

  .main-form{
    display: block;
    margin-top: 3%;
  }

  .form-container{
    display: flex;
    flex-direction: column;
  }

  .form-container-small{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .form-container-small2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .button-container{
    display: flex;
    justify-content: center;
  }

  .form-name{
    width: 255px;
    height: 50px;
    margin-right: 30px;
  }

  .form-email{
    width: 255px;
    height: 50px;
  }

  .form-message{
    width: 540px;
    height: 175px;
  }

  #form-button{
    width: 190px;
    height: 55px;

    margin-top: 4%;
    margin-bottom: 7%;
    font-size: 14px;
    font-family: Roboto; 
    background: #34547A;
    color: white;
  }

  input{
    padding: 20px;  
  }

  textarea{
    padding: 20px;
  }

/*Работа с псевдоклассами*/
  input:focus::placeholder{
    color: transparent;
  }

  textarea:focus::placeholder{
    color: transparent;
  }

  #form-button:hover{
    text-decoration: underline;
  }
  /*Работа с футером*/
  .footer{
    background: #34547A;
    height: 151px;
  }

  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
  }

  .name-surname{
    padding-top: 2%;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;

    color: white;
  }

  .protect{
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    margin-top: 1.5%;

    color: white;
  }

  .small-box{
    display: flex;
    flex-direction: column;
  }

  .small-box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .VKlogo-footer{
    width: 43px;
    height: 23px;
  }
/*Работа с адаптивностью*/
@media screen and (max-width: 1400px) and (min-width:1200px) {
  .header {
    padding-left: 10%;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    padding-left: 4%;
    height: 100%;
    padding-bottom: 25%;
  }

  .skills-all {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skills-content {
    margin: 5% 0;
  }

  .skills-pic {
    margin: 5% 0;
  }

  .logo {
    margin-right: 5%;
  }

  .offer-pic img {
    width: 200px;
    margin-left: 30%;
    margin-left: 30%;
  }

  .offer-content {
    margin-top: 3%;
  }

  .offer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .nav {
    justify-content: center;
  }

  .skills-promo {
    height: 50%;
  }

  .skill-promo-pic {
    padding-left: 6%;
  }

  .skill-promo-pic img {
    width: 70%;
    margin-right: 2%;
    margin-top: 2%;
  }

  .img-skill {
    margin: 2%;
  }

  nav {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 5%;
  }

  /*-----------Мои изменения-----------*/

  .flex-container{
    margin-top: 350px;
  }

  .video{
    width: 600px;
    height: 400px;
  }

  .photo-grid{
    width: 280px;
    height: 280px;
  }

  .grid-container{
      display: none;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 280px 280px;
  }

  .photo-grid{
    display: none;
  }

  .mine-img{
      width: 9%;
  }

  #work-title{
    font-size: 20px;
  }

  #lorem-ipsum3{
    font-size: 12px;
  }

  #veb-site{
    font-size: 20px;
  }

  .about-text{
    font-size: 12px;
  }

  .form-name,.form-email{
    width: 200px;
    height: 40px;
  }

  .form-message{
    width: 430px;
    height: 160px;
  }

  #form-button{
    width: 150px;
    height: 40px;
    font-size: 10px;
    padding-top: 10px;
  }

@media screen and (max-width: 900px){
  .video{
    width: 500px;
    height: 300px;
  }

  .developer{
    width: 360px;
    height: 300px;
  }

  .name-surname{
    font-size: 18px;
  }

  .protect{
    font-size: 12px;
  }

  .form-name,.form-email{
    width: 160px;
    height: 35px;
  }

  .form-message{
    width: 350px;
    height: 160px;
  }

  .grid-container{
    display: none;
  }

}

@media screen and (max-width: 600px) {
  .menu-item {
    margin-right: 2%;
  }

  .menu-item a {
    font-size: 11px;
  }

  .offer-title {
    font-size: 30px;
  }

  .offer-txt {
    width: 45%;
    margin-left: 27%;
  }

  .video-section{
    margin-top: 300px;
  }

  img {
    width: 30%;
  }

  .video{
    width: 360px;
    height: 240px;
  }

  .skill-name{
    margin-left: 24%;
  }

  .line-skill{
    margin-left: 24%;
  }
}  

@media screen and (max-width: 400px){
  .developer{
    width: 240px;
    height:  180px;
  }

  .video{
    padding-bottom: 40px;
    width: 260px;
    height: 200px;
  }

  .form-name,.form-email{
    width: 120px;
    height: 35px;
  }

  .form-message{
    width: 270px;
    height: 140px;
  }

  .name-surname{
    font-size: 12px;
  }

  .protect{
    font-size: 8px;
  }

  .VKlogo-footer{
    width: 30px;
    height: 20px;
  }

  .skills{
    height: 450px;
  }

  .skills-title{
      margin-top: 30px;
      font-size: 24px;
  }

  .skill-name{
    font-size: 14px;
  }
}